# Swordfish Dependencies
#MUST HAVES, NEEDED TO FUNCTION!!!
PyQt6==6.6.1
PyQt6-WebEngine==6.6.0

# Network & Utilities Optional
requests==2.31.0
urllib3==2.2.1

#  OS Specific
# Note: On Linux, you may also need: libxcb-cursor0
# To install these dependancies, run pip install -r requirements.txt
